body
{
    background: url("imagenes/bg.jpg");
}
/*header*/
header
{
    text-align: center;
    margin: 10px;
    padding: 30px;
    color: white;
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: inset 0 0 5px red, 0 0 10px red;
}
h1
{
    font-size: 100px;
    font-weight: bold;
    font-family: 'Neonderthaw', cursive;
    text-shadow: 0 0 5px red, 0 0 10px red,0 0 20px red ;
    
}
/*Main*/

/*descripcion*/
.descripcion-titulo
{
    margin: 50px;
    text-align:left;
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Neonderthaw', cursive;
    text-shadow: 0 0 5px red, 0 0 10px red,0 0 20px red ;
}
.descripcion-caja
{
    color: white;
    font-size:40px;
    width: 80%;
    margin:20px auto ;
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: inset 0 0 5px red, 0 0 10px red;
    box-sizing: content-box;
}
.descripcion-caja img
{
    width: 100%;
    margin: 10px;
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: inset 0 0 5px red, 0 0 10px red;
}
.descripcion-caja p
{
    margin: auto;
    text-align: center;
    text-shadow: 0 0 5px red, 0 0 10px red,0 0 20px red ;
}

/*Diferenciales*/
.diferenciales
{
    color: white;
    font-size:40px;
    width: 80%;
    margin:20px auto ;
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: inset 0 0 5px red, 0 0 10px red;
    box-sizing: content-box;
}
.diferenciales img
{
    width: 100%;
    margin: 10px;
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: inset 0 0 5px red, 0 0 10px red;
}
.diferenciales h2
{
    margin: 50px;
    text-align:left;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Neonderthaw', cursive;
    text-shadow: 0 0 5px violet, 0 0 10px violet,0 0 20px violet ;
}
.diferenciales ul
{
    margin: auto;
    text-shadow: 0 0 5px violet, 0 0 10px violet,0 0 20px violet ;
}

/*Galeria*/
.Contenedor-Galeria
{
    padding: 3em ;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-auto-rows: 50%;
}
.Contenedor-Galeria picture
{
    margin: 10px;
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: 0 0 5px violet, 0 0 10px violet,0 0 20px violet ;
    position: relative;
    cursor: pointer;
    overflow: hidden;/*Todo lo que sale se borra*/
}
.galeria-imagen
{
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

.Contenedor-Galeria picture::before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b40f3a6;
    transform: scale(0);
    transition:transform .1s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-shadow: 0 0 5px violet, 0 0 10px violet,0 0 20px violet ;
}
.Contenedor-Galeria picture:hover::before
{
    transform: scale(1) ;
}
.galeria-img1::before
{
    content: "Clases Presenciales";
}
.galeria-img2::before
{
    content: "Teatros y festivales";
}
.galeria-img3::before
{
    content: "Egresados";
}
.galeria-img4::before
{
    content: "Premiaciones";
}
.galeria-img5::before
{
    content: "Eventos";
}
.galeria-img6::before
{
    content: "Ganadores de Torneos";
}
.galeria-img7::before
{
    content: "Todos Juntos";
}
.galeria-img8::before
{
    content: "Profesionales";
}
/*Ubicacion*/
.ubicacion h2
{
    margin: 50px;
    text-align:center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Neonderthaw', cursive;
    text-shadow: 0 0 5px yellow, 0 0 10px yellow,0 0 20px yellow ;
}
.ubicacion p
{
    font-size: 40px;
    margin:20px auto;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px white,0 0 40px white ;
}
.ubicacion div
{
    width: 80%;
    margin: 30px auto;
    
}
.ubicacion iframe
{
    border-radius: 20px;
    border: 2px solid white;
    box-shadow:  0 0 5px white, 0 0 10px white;
}

/*te esperamos*/
.te-esperamos
{
    background-color: black;
    color: white;
}
.te-esperamos div
{
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.te-esperamos video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.te-esperamos h2
{
    background-color: black;
    font-size: 180px;
    font-weight: 400;
    mix-blend-mode: multiply;
}

/*footer*/
footer
{
    margin: 10px;
    background-color: rgba(88, 88, 90, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 60px;
    border: 2px solid white;
    box-shadow: inset 0 0 5px red, 0 0 10px red;

}
.Logo
{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 0 5px red, 0 0 10px red,0 0 20px red ;
    
}
.Logo img
{
    width: 20ch;
}

/*responsive*/
@media screen and (max-width:480px) 
{
    
    h1 
    {
        font-size: 50px;
    }
    .descripcion-caja, .diferenciales
    {
        display: block;
        padding: 0;
        width: 98%;
        margin: 10px auto;
        
    }
    .descripcion-caja p,.diferenciales div
    {
        padding: 20px;
        font-size: 20px;
    }
    .descripcion-caja img, .diferenciales img
    {
        width: 100%;
        margin: 0;
        
    }
    .Contenedor-Galeria picture
    {
        margin: 2px;
        border-radius: 20px;
        border: 2px solid white;
        box-shadow: 0 0 5px violet, 0 0 10px violet,0 0 20px violet ;
        text-align: center;
    }
    .galeria-imagen
    {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .Contenedor-Galeria
    {
        padding: 0;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;
        grid-auto-rows: 50%;
    }
    .te-esperamos h2
    {
        font-size: 40px;
    }
}